#navbar {
  background-color: pink;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/*  question 2 */
.outer {
  height: 400px;
  width: 400px;
  background-color: rgb(139, 105, 53);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  height: 200px;
  width: 200px;
  background-color: rgb(139, 53, 125);
}
